*, *::before, *::after {
  box-sizing: border-box;
}
.title{
  font-size: 40px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: grey
  
}

body{
  background-color:whitesmoke;

}

.app{
  height: 100vh;
  width: 100%;

}

.calculator-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  grid-template-columns: repeat(4, 90px) ;
  grid-template-rows:  repeat(6, 80px);
}


     


.but-dif {
   color: aliceblue;
   background-color: orange;
   
   
   
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 3rem;
    font-weight: lighter;
    color: black;
    outline: none;
   border: 1px solid white;
   padding: 0px;
     
}

.button-dif {
    grid-column: 1/4;
    
}

.output {
    grid-column: 1 / -1;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
 
}



.output .result-cal {
  color: white;
  font-size: 2rem;
}


.output .prev-operation {
  color: white;
  font-size: 1rem;
}